* {
    user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.m-top-45 {
    margin-top: 45px;
}

.m-top-25 {
    margin-top: 25px;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-bottom15 {
    margin-bottom: 15px;
}

.m-bottom10 {
    margin-bottom: 10px;
}

.m-right15 {
    margin-right: 15px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Thin.ttf') format('woff2');
    font-weight: 100;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    padding-bottom: 25px;
}

section {
    display: flex;
    justify-content: center;
}

.conteiner {
    width: 1440px;
    display: flex;
}

.logo {
    width: 200px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo h2 {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 5px;
    font-size: 28px;
    padding: 0;
}

.logo img {
    margin-bottom: 5px;
}

.conteiner-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.naw-header>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    color: white;
}

.naw-header {
    width: 775px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


header {
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.welcome {
    background-color: #030303;
    height: 810px;
}

.conteiner-welcome {
    position: relative;
    width: 1440px;
}

.left-welcome {
    color: white;
    z-index: 3;
    position: absolute;
    width: 598px;
    height: 388px;
    margin-top: 150px;
    top: 0px;
    left: 0px;
}

.left-welcome>h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 75px;
}

.welcome-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #710707;
    width: 360px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: auto;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
}

.right-welcome {
    position: absolute;
    width: 1000px;
    height: 810px;
    top: 0;
    right: 0;
}

.right-welcome::after {
    width: 300px;
    height: 750px;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #000000, #efedeb00);
    pointer-events: none;
}

.swiper-welcome {
    position: absolute;
    width: 1000px;
    height: 810px;
    top: 0;
    right: 0;
}

.swiper-slide {
    width: 1000px;
    height: 750px;
}

.swiper-navigation {
    background-color: #030303;
    width: 600px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.fraction-pagination {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
}

.swiper-welcome .main-pagination,
.swiper-pagination,
.swiper-welcome .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 180px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.swiper-welcome .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 0%;
    background-color: white;
    color: white;
    opacity: 1;
    margin-left: 25px;
}

.swiper-welcome .swiper-pagination-bullet-active {
    background: #9d8665;
    opacity: 1;
}

.block-for-swiper-button {
    width: 80px;
    height: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-welcome .swiper-button-prev {
    background-image: url('../assets/ico/button-left.svg');
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 8px;
    margin: 0 auto;
    padding: 0;
}

.swiper-welcome .swiper-button-next {
    background-image: url('../assets/ico/button-right.svg');
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 8px;
    margin: 0 auto;
    padding: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-welcome {
    width: 100%;
    height: 100%;
}

.tours {
    width: 100%;
    height: 100%;
}

.tours-body {
    width: 99.2vw;
    height: 100vh;
}

.visiting {
    margin: 75px 0 75px 0;
}

.visiting h2 {
    color: #9d8665;
}

.container-visiting {
    flex-direction: column;
}

.big-line {
    width: 100%;
    height: 3px;
    background-color: #710707;
}

.small-line {
    width: 300px;
    height: 2px;
    background-color: #710707;
    margin-top: 10px;
}

.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place {
    margin-top: 70px;
}

.place h3 {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 5px;
    padding-top: 25px;
    color: #030303;
}

.place .first-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 100%;
    padding-top: 10px;
    color: #030303;
}

.place .last-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
    padding-top: 10px;
    color: #030303;
}

.explore {
    background-color: #030303;
    height: 865px;
}

.conteiner-explore {
    margin: 75px 0 75px 0;
}

.left-explore {
    width: 660px;
    color: white;
}

.explore p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    padding-bottom: 25px;
}

.explore .big-line {
    margin-bottom: 75px;
}

.explore-span {
    color: #CAAA7D;
}

.right-explore {
    position: relative;
    margin-left: 60px;
    width: 720px;
    height: 700px;
    display: flex;
    justify-content: start;
}

.for-line-separation {
    width: 370px;
    height: 100%;
    z-index: 10;
    position: relative;
}

.for-line-separation>img {
    position: absolute;
    right: -10px;
}

.before-img-explore {
    width: 360px;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    object-position: left center;
}

.after-img-explore {
    width: 360px;
    height: 100%;
    position: absolute;
    right: 0;
    object-fit: cover;
    object-position: right center;
}


.conteiner-video {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 100px;
}

.video h2 {
    color: #9d8665;
    padding: 0;
}

.video p {
    width: 720px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    color: #000000;
}

.text-video {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 240px;
}

.video-player {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 650px;
    height: 735px;
    overflow: hidden;
}

.video-player video,
.video-player img {
    width: 100%;
    height: 810px;
}

.video-player-rule {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: black;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

#play-icon,
#pause-icon {
    width: 23px;
    height: 31px;
}

#progress {
    -webkit-appearance: none;
    /* Chrome/Safari */
    appearance: none;
    width: 930px;
    /* ширина ползунка */
    height: 8px;
    /* высота всей полосы (не влияет на track) */
    cursor: pointer;
    background: #C4C4C4 0%;
}

#progress::-webkit-slider-runnable-track {
    height: 8px;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    /* ширина кружка */
    height: 15px;
    /* высота кружка */
    background: #ffffff;
    /* цвет ползунка */
    border-radius: 50%;
    /* круглый */
    margin-top: -3.5px;
    /* чтобы выровнять по центру трека (высота трека 8px) */
    border: none;
}

#volume {
    background: linear-gradient(to right,
            #710707 100%,
            #710707 0%,
            #C4C4C4 0%,
            #C4C4C4 0%);
    -webkit-appearance: none;
    /* Chrome/Safari */
    appearance: none;
    width: 150px;
    /* ширина ползунка */
    height: 8px;
    /* высота всей полосы (не влияет на track) */
    cursor: pointer;
}

#volume::-webkit-slider-runnable-track {
    height: 8px;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    /* ширина кружка */
    height: 15px;
    /* высота кружка */
    background: #ffffff;
    /* цвет ползунка */
    border-radius: 50%;
    /* круглый */
    margin-top: -3.5px;
    /* чтобы выровнять по центру трека (высота трека 8px) */
    border: none;
}

#volume-icon,
#mute-icon {
    width: 36px;
    height: 30px;
}

#fullscreen {
    width: 35px;
    height: 35px;
}

.swiper-video {
    margin-top: 40PX;
    width: 1440px;
    height: 306px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.swiper-video .swiper-slide {
    width: 100%;
    height: 254px;
}

.swiper-video .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 200px;
    height: 12px;
}

.swiper-video .main-pagination-video {
    height: 12px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
}

.swiper-video .swiper-button-prev,
.swiper-video .swiper-button-next {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
}

.swiper-video .swiper-button-prev {
    left: 0;
}

.swiper-video .swiper-button-next {
    right: 0;
}

.main-pagination-video .swiper-pagination-bullet {
    margin: 0 100px;
    width: 12px;
    height: 12px;
}

.gallery {
    height: 2200px;
    width: 100%;
    background-color: #030303;
    position: relative;
    overflow: hidden;
}

.gallery::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    content: "";
    background: linear-gradient(to top, #000000, #efedeb00);
}

.gallery h2 {
    color: white;
    margin-top: 75px;
}

.conteiner-gallery {
    display: flex;
    flex-direction: column;
}

.gallery-img {
    width: 100%;
    height: 2900px;
    margin-top: 50px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img img {
    width: 456px;
    height: auto;
    object-fit: contain;
}

.tickets {
    width: 100%;
    height: 745px;
    margin: 75px 0 75px 0;
    position: relative;
}

.tickets h2 {
    color: #9d8665;
}

.tickets .big-line {
    margin-bottom: 75px;
}

.buy-tickets {
    display: flex;
    flex-direction: column;
}

.buy-tickets-block {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.buy-tickets-block form {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.buy-tickets-block h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 0%;
    color: #030303;
}

.buy-tickets-block ul {
    margin-top: 50px;
}

.buy-tickets-block li {
    display: flex;
    margin-top: 24px;
}

.buy-tickets-block li p {
    font-size: 24px;
    margin-left: 20px;
}

input[type="radio"] {
    accent-color: black;
    width: 17px;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 23px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13.5px;
}

.counter p {
    font-size: 24px;
}

.buy-basic-ticket-count,
.buy-senior-ticket-count {
    width: 144px;
    height: 44px;
    border: solid black 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-basic-value,
.buy-senior-value {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.buy-basic-decrease,
.buy-basic-increase,
.buy-senior-decrease,
.buy-senior-increase {
    width: 44px;
    height: 44px;
    background-color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.buy-ticket-total {
    display: flex;
}

input[type="submit"] {
    width: 175px;
    height: 50px;
    background-color: #030303;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/* for booking-tickets page */

.book-tickets-block {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book-tickets {
    background-color: white;
    display: flex;
    gap: 40px;
}

.book-tickets-left {
    width: 400px;
    height: 663px;
}

.book-tickets-left h2 {
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 53px;
    color: #9d8665;
    padding-bottom: 15px;
}

.book-tickets-left p {
    color: #710707;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.book-tickets-left .big-line {
    margin: 10px 0 60px 0;
}

.book-tickets-left .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

}

.book-tickets-left .date-time {
    display: flex;
    justify-content: space-between;
}

.date-time p,
.book-tickets-left .ticket-type p,
.book-tickets-left .block input::placeholder {
    color: #030303;
}

.book-tickets-left .date,
.book-tickets-left .time,
.book-tickets-left .name,
.book-tickets-left .email,
.book-tickets-left .phone,
.book-tickets-left .ticket-type {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: solid 2px black;
    height: 45px;
    padding-left: 35px;
}


.book-tickets-left .date,
.book-tickets-left .time {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.book-tickets-left .date {
    background: url('../assets/ico/booking-tickets/date.svg') no-repeat 8px center;
}

.book-tickets-left .time {
    background: url('../assets/ico/booking-tickets/time.svg') no-repeat 8px center;
}

.book-tickets-left .name,
.book-tickets-left .email,
.book-tickets-left .phone {
    width: 362.6px;
}

.book-tickets-left .name {
    background: url('../assets/ico/booking-tickets/name.svg') no-repeat 8px center;
}

.book-tickets-left .email {
    background: url('../assets/ico/booking-tickets/email.svg') no-repeat 8px center;
}

.book-tickets-left .phone {
    background: url('../assets/ico/booking-tickets/tel.svg') no-repeat 8px center;
}

.book-tickets-left .ticket-type {
    background: url('../assets/ico/booking-tickets/Vector.svg') no-repeat 8px center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 352.6px;
    padding-right: 10px;
}

.entry {
    border: solid 2px black;
    width: 377.6px;
    padding: 10px;
    height: 115px;
    display: flex;
    flex-direction: column;
}

.entry>p {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0%;
    font-size: 18px;
    padding: 0;
    color: #9d8665;
}

.entry .big-line {
    margin: 5px auto;
}

.entry-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.entry-left,
.entry-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entry-left p,
.entry-right {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #030303;
}


.book-basic-ticket-count,
.book-senior-ticket-count {
    width: 105px;
    height: 25px;
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-basic-value,
.book-senior-value {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.book-basic-decrease,
.book-basic-increase,
.book-senior-decrease,
.book-senior-increase {
    width: 35px;
    height: 25px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.book-tickets-right {
    border: solid 2px black;
    width: 480px;
    height: 613px;
    padding: 25px;
}

.overview-block {
    display: flex;
    justify-content: space-between;
}

.overview-left h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.overview-left>p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #710707;
}

.overview-day,
.overview-time,
.overview-option {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.overview-day p,
.overview-time p,
.overview-option p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.basic-count,
.senior-count {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-count-number,
.senior-count-number {
    width: 32px;
    height: 19px;
    background-color: #030303;
    color: #A4A4A3;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-count .p,
.senior-count .p,
.total-count {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.total-count h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.book-form {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.book-form button {
    width: 220px;
    height: 45px;
    background-color: #710707;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.cart-block {
    width: 100%;
    height: 250px;
    position: relative;
}

.cart-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 196px;
    padding: 15px;
    padding: 0 15px 15px 15px;
    background-color: #BCBCBC;
    z-index: 2;
    border-radius: 5px;
}

.cart-front-icon {
    position: absolute;
    top: 34px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63px;
}

.cart-number input {
    width: 215px;
    height: 35px;
}

.expiration-date .block {
    width: 215px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.expiration-date input {
    width: 100px;
    height: 35px;
}

.cardholder-name input {
    width: 320px;
    height: 35px;
}

.cart-front p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0 5px 0;
}




.cart-back {
    position: absolute;
    width: 360px;
    height: 211px;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #A4A4A3;
    border-radius: 5px;
}

.card-back-block {
    border-top: solid black 45px;
    position: absolute;
    height: 111px;
    padding: 15px 0 15px 0;
    right: 0;
    top: 25px;
    width: 120px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-back-block p:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.card-back-block p:nth-of-type(2) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.card-back-block input {
    width: 75px;
    height: 35px;
}





.back-to-museum {
    position: absolute;
    top: 30px;
    right: 30px;
}

.parallax {
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/parallax.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.contacts {
    width: 100%;
    height: 813px;
    padding: 75px 0 75px 0;
}

.contacts-conteiner {
    display: flex;
    flex-direction: column;
}

.contacts h2 {
    color: #9d8665;
}

.contacts-block {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.contacts-left h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 0%;
    color: #030303;
}

.contacts-left p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: auto;
    letter-spacing: 0%;
    color: #030303;
}

.contacts-map {
    width: 960px;
    height: 620px;
}


footer {
    background-color: #030303;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-footer {
    padding-bottom: 55px;
    width: 1440px;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.footer-left {
    display: flex;
    flex-direction: row;
}

.footer-navigation {
    margin-left: 145px;
    display: flex;
    width: 363px;
    height: 128px;
    justify-content: space-between;
}

.footer-navigation ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-anchor,
.footer-bottom p {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}



.footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
}

.footer-right li {
    border: solid grey 1px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right a {
    width: 24px;
    height: 24px;
}

.footer-right img {
    width: 24px;
    height: 24px;
}

.big-grey-line {
    width: 100vw;
    height: 3px;
    background-color: #666666;
}

.footer-bottom {
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}